@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10%);  /* Move exactly half the width */
  }
  100% {
    transform: translateX(0);  /* Move exactly half the width */
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

/* Optional: Pause animation on hover */
.animate-scroll:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

/* Optional: Pause animation on hover */
.animate-marquee:hover {
  animation-play-state: paused;
}
